<% layout("/layouts/boilerplate") %>

<div class="row mt-4" >

    <div class="alert alert-danger col-6 offset-2 " role="alert">
      <%= message %> 
      </div>

</div>


<!-- 
<div class="row mt-4"> 

<div class="card  " >
    <img src="https://internetdevels.com/sites/default/files/public/blog_preview/404_page_cover.jpg" style="height: 600px;" class="card-img-top" alt="...">
    <div class="card-body">
        <div class="alert alert-danger " role="alert">
            <%= message %> 
            </div>
    </div>
  </div>

</div> -->