<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new chats</title>
</head>
<body>
    <h1>Create new chat</h1>
    <form action="/chats" method="post">
        <input  placeholder="Who are you" name="from"> <br> <br>
        <textarea name="msg" rows="10"  cols="30"> Write msg here...</textarea> <br> <br>
        <input placeholder="Reciver" name="to"> <br> <br>
        <button>Submit</button>
    </form>
</body>
</html>