<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is Ejs templete  1+ 2</h1>
    <h2><%= 1+2 %></h2>  <!-- interpolation syntex -->


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit excepturi at obcaecati ratione natus ipsa, quia architecto? Voluptatibus consectetur aspernatur laborum labore, alias dolores, repudiandae tempore quisquam voluptate eum aperiam. 1 + 2 </p>
    <button>Click me !</button>
</body>
</html>