<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passing data form ejs</title>
</head>
<body>
    
    <h1>Rolldice game : 
         <%= diceVal %>
         </h1>


         <!-- conditional statement in ejs  -->
         
         <% if(diceVal == 6 ){  %>
            <h2>Nice , Dice again !</h2>
            <% } %> 
</body>
</html>
