<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new member</title>
</head>
<body>
    
    <form action="/user/new" method="post">
        <!-- <input type="text" name="id" placeholder="enter a id "> <br> <br> -->
        <input type="username" name="username" placeholder="Enter a username"> <br> <br>
        <input type="email" name="email" id="email" placeholder="Enter email"> <br> <br>
        <input type="password" name="password" placeholder="enter a password"> <br> <br>
        <button>Submit me</button>
    </form>
</body>
</html>