.outer{
    height: 300px ;
    width: 300px ;
    background-color: rgb(255, 174, 0);
    border-radius: 50%;
}

.eye{
    width: 40px;
    height: 40px;
    background-color: black;
    margin: 20px;
    position: absolute;
    top: 72px;
    left: 60px;
    color: white;
    border-radius: 50%;

}
.two{
    position:absolute;
    top: 72px;
    left: 177px;
}

.ineer{
    width: 131px;
    height: 42px;
    background-color: rgb(199, 3, 3);
    position: absolute;
    top: 195px;
    left: 85px;
    border-radius: 0 0 30px 30px;
}