h2{
    color: rgb(224, 127, 143);
}
h1{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h1 span{
    color: maroon;
}
#pets{
    display: flex;
    justify-content: space-evenly;
}
.card{
height: 600px;
width: 400px;
border: 2px solid rgb(62, 52, 52);
text-align: center;
border-radius: 10px;
}
img{
    height: 200px;
    margin: 20px auto;
    border-radius: 30px;
    /* width: 300px; */
}
.card h3{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card p{
    font-size: 16px;
    line-height: 22px;
    text-indent: 20px;
}
@media (max-width:720px) {
    #pets{
        display: block;
    }
    .card{
        margin-bottom: 20px;
    }
}