<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show one card</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h1>Here is your post deteail</h1>
    <h3>Post id : <%= post.id %></h3>
    
    <br>

    <div class="post">
        <h3 class="user">@<%= post.username %></h3>
        <h5 class="content"><%= post.content  %></h5>
    </div>

</body>
</html>